:root{
    --dashboard-bg-color: #222;
    --dashboard-text-color: white;
    --dashboard-btn-color: white;
    --dashboard-btn-bg-color: #222;
    --dashboard-input-bg-color: #333;
    --dashboard-input-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
}

#dashboard {
    background-color: var(--dashboard-bg-color);
    width: 340px;
    height: 100%;
    color: var(--dashboard-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;  /* vertically align to center; then make control width to 100% */
    padding: 20px;   /* Avoid controls touching edge of dashboard */
    gap: 15px;  /* Vertical gap between controls */
}

.playback-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.playback-control-btn {
    color: var(--dashboard-btn-color);
    background-color: var(--dashboard-btn-bg-color);
    border-radius: 20%;
    font-size: 125%;
    padding: 5px 10px;
}

#dashboard p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 100%;
}

#dashboard input {
    background-color: var(--dashboard-input-bg-color);
    color: var(--dashboard-input-color);
    max-width: 100px;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    padding: 5px;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
.canvas-container h2 {
    justify-self: center;
}

.canvas-section {
    display: flex;
}

.canvas-unit{
    width: 50%;
    max-width: 50%;
}
